 #characterRow{
        width:100%;
        display:inline-flex;
    }
    #characterList{
        display: inline-flex;
    }
    .characterBox{
        width:25%;
        text-align: center;
        border:2px solid black;
    }
    #available-enemies{
        float:right;
    }
    .charImage{
        height:100px;
        width:100px;
    }
    .character{
        border: 1px solid black;
        width:100px;
    }